/* Wildcard general styling to page */
*{
    margin: 0;
    padding: 0;
    font-family: "ComicNeue", sans-serif;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

body {
    background-color: lightblue;
}

html {
    font-size: 60%;
    font-weight: 400;
    line-height: 1.8;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: blueviolet;
    padding: 2rem 0;
}

h3 {
    font-size: 2rem;
    padding: 2rem 0;
    color: blueviolet;
    padding: 2rem 0;
}

.container {
    background: pink;
    padding: 30px;
    margin: 100px auto 0;
    border-radius: 5%;
    color: black;
    width: 90%;
    max-width: 600px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box .counter {
    font-size: 2rem;
    font-weight: 650;
    color: blueviolet;
    padding: 2rem;
}

.flags {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
   
}

.flag img {
    max-width: 50px;
}