/* Wildcard general styling to page */
*{
    margin: 0;
    padding: 0;
    font-family: "ComicNeue", sans-serif;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

body {
    background-color: #4c51f7;
}

html {
    font-size: 60%;
    font-weight: 400;
    line-height: 1.2;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: blueviolet;
    padding: 2rem 0;
}

h3 {
    font-size: 2rem;
    padding: 2rem 0;
    color: blueviolet;
    padding: 2rem 0;
}

.container {
    background: #f3af19;
    padding: 30px;
    margin: 100px auto 0;
    border-radius: 5%;
    color: white;
    width: 90%;
    max-width: 600px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box .counter {
    font-size: 2rem;
    font-weight: 650;
    color: blueviolet;
    padding: 2rem;
}

.flags {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
   
}

.flag .flag-img {
    width: 100%;
}

.flags .flag-img img {
    width: 100%;
    height: 15rem;
    animation: zoom-in-zoom-out 2s ease-in-out;
    padding-bottom: 20px;
}

@keyframes zoom-in-zoom-out{
    0% {
        transform: scale(.9,.9);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

/* .flags .options ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
} */

.flags .options ul li {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    background-color: white;
    padding: 1.5rem;
    width: 200px;
    color: #9d4dbb;
    border-radius: 8px;
    cursor: pointer;
    border: 5px solid #4c51f7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* create a hover effect when going over potential answers, & no hover once answer selectd, re-created from W3 schools*/
.options:hover:not([disabled]) {
    background: #9d4dbb;
    color: white;
    font-size: larger;
}

#reset {
    border: 5px solid #9d4dbb;
    background-color: #f3af19;
    padding: 1.3rem;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
}