/* Wildcard general styling to page */
*{
    margin: 0;
    padding: 0;
    font-family: "ComicNeue", sans-serif;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #310a31;
}

#logo {
    text-align: center;
    align-items: center;
    width: 35%;
}

body {
    background-image: url("../images/green-globe.webp"); 
    background-repeat: repeat;
    background-size:auto;
    min-height: 80px;
    background-color:#f1e3f3;
}

html {
    font-size: 60%;
    font-weight: 400;
    line-height: .5;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.instuctions{
    display: block;
}

#instructions-btn {
    border: 5px solid #246300;
    background-color: #F2c14E;
    padding: 1.3rem;
    color: #310A31;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

#instructions-btn:hover {
    font-size: 2rem;
  }

#instructionsBox {
    display: none;
    line-height: 1.5;
    margin-top: 20px;
    border: 5px solid #246300;
    background-color: #F2c14E;
    padding: 1.3rem;
    color: #310A31;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #310a31;
    padding: 2rem 0;
}

h3 {
    font-size: 2rem;
    padding: 2rem 0;
    color: #310a31;
    padding: 2rem 0;
}

#green{
    color: #246300;
    background-color: #F2C14E;
}

#red{
    color: red;
    background-color: #F2C14E;
}

.container {
    background-color: rgba(134, 165, 156, .9);
    padding: 18px;
    margin: 30px auto 0;
    border-radius: 5%;
    color: #310A31;
    width: 90%;
    max-width: 600px;
    border-style: double;
    border: 5px solid #246300; 
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box .counter {
    font-size: 2rem;
    font-weight: 650;
    color: #00020A;
    padding: 2rem;
}

.flags {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
}

.flag .flag-img {
    width: 100%;
}

.flags .flag-img img {
    width: 100%;
    height: 15rem;
    animation: zoom-in-zoom-out 10s ease-in-out infinite;
    padding-bottom: 20px;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(.9,.9);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.flags .options ul li {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    background-color: white;
    padding: 1.5rem;
    width: 200px;
    color: #310a31;
    border-radius: 8px;
    cursor: pointer;
    border: 5px solid #246300;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#reset {
    border: 5px solid #246300;
    background-color: #F2c14E;
    padding: 1.3rem;
    color: #310A31;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.scoreboard {
    display: none;
    padding: 1.5rem;
    border-radius: .8rem;
}

.scoreboard .correct, 
.scoreboard .incorrect {
    color: #00020A;
}

.flags .options ul li.active {
    background-color: #F2C14E;
    color: #00020A;
}

.flags .options ul li.success {
    background-color: green;
}

.flags .options ul li.wrong {
    background-color: red;
}